<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BirthDay Reminder - Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BirthDay Reminder App</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{currentuser}}</a></li>
    </ul>
  </div>
</nav>
    <div>
        <center></center>
    </div>

            <div class="container">
            <div class="jumbotron">
                <h1>Patients B'day dates..<p>lets wish them !!</p> </h1>

            </div>
           <!-- {u'first_name': u'Daniel', u'last_name': u'Kivatinos', u'doctor': 135724, 1>
           u'gender': u'Male', u'date_of_birth': u'1979-08-01', u'chart_id': u'KIDA000003', u'id': 64978736} -->
          <table class="table">
          <tr>
              <th>  First Name </th>
              <th>  Last Name </th>
              <th>  Gender </th>
              <th>  Date of Birth </th>
              <th>  Wish Birth Day </th>
          </tr>

          {% for patient in patients_data %}
           {% if not patient.date_of_birth == None %}
            <tr>
              <td> {{patient.first_name}} </td>
              <td> {{patient.last_name}}</td>
              <td> {{patient.gender}}</td>
              <td> {{patient.date_of_birth}}</td>
                <td>
                    <a href="/wishpatient/{patient.id}">
                        <button type="submit"> wish</button>
                    </a>
                </td>
            </tr>
           {% endif %}
          {% endfor %}
          </table>
  </div>

</body>
</html>