<!DOCTYPE html>
<html lang="en">
{% include 'bootstrap.html' %}
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <div class="jumbotron">
            <h1>wanna Wish BirthDay for {{patient.first_name}}  {{patient.last_name}} !!</p> </h1>
        </div>
        <form>
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="BirthDayMessage">BirthDay Messge:</label>
            <textarea class="form-control" rows="5" id="BirthDayMessage"></textarea>
        </div>
        <center>
            <button type="submit" class="btn btn-primary">Send Email</button>
        </center>
    </form>
    </div>

</body>
</html>